<div id="head-div"><header id="header">
  <div id="app-name">
    <span class="active" >Codemon</span>
</div>
<div id="sign-links">
        <% if (locals.user) { %>
          <a href="/users/profile/<%= user.id%>" class="active">
            <%= user.name %> 
          
                <a href="/users/sign-out" class="active"> Sign out</a>
            
             
              <a href="/users/profile" class="active"> Profile </a>
             
        <% } else { %>
         
                  
                    <a href="/users/sign-in" class="active" id="auth-links">Sign in</a>
                  
                  
                    <a href="/users/sign-up" class="active">Sign up</a>
                
                  
          
                  <% } %>
                </div>
            </header>
          </div>