<h1> Sign in</h1>
<h1> USER SIGN IN </h1>;
<h2> Codeil </h2>

<form action="/users/create-session " method="POST">
   
    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="Password" required>
  
    <input type="submit" value="Sign in"> 
</form>
