<h1> USER SIGN UP </h1>;
<h2> Codeil </h2>
<form action="/users/create " method="POST">
    <input type="text" name="name" placeholder="Your name" required>
    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="confirm_password" required>
    <input type="submit" value="Sign Up">
</form>