#header {
  background-image: linear-gradient(to bottom, #00BC7e, #108775);
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  #header a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 540;
    margin-left: 2vh;
    color: white;
    font-family: sans-serif; }
  #header a:hover {
    color: lightgray;
    transition-delay: 0.2s;
    text-decoration: underline; }
  #header #app-name {
    margin-top: 1.5vh;
    font-size: 17px;
    font-weight: 540; }
  #header div span {
    color: white;
    font-family: sans-serif; }
  #header #sign-links {
    margin-top: 1.5vh; }

#head-div {
  position: relative;
  width: 100%; }
